<section class="contacts">
  <div class="container">
    <h2 class="section-title">
      Регистрация на <span class="acsent">бесплатную</span> телефонную
      <span class="acsent">консультацию</span>
      по нюансам ЗНО по английскому языку
    </h2>
    <form class="form">
      <h6 class="form-title">
        Оставь заявку на участие в
        <span class="acsent">бесплатном занятии. </span> </br> С вами свяжется
        консультант и ответит на вопросы
      </h6>
      <div class="input-box">
        <input class="input" type="text" name="username"/>
        <label class="label" for="username">Имя*
          </label>
      </div>
      <div class="input-box">
        <input
        class="input"
        type="tel"
        name="phone-number"
        />
        <label class="label" for="phone-number">Телефон*
        </label>
      </div>
      <button class="button" type="submit">хочу на бесплатное занятие</button>
    </form>
  </div>
</section>
